:root{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;

    --black: #211A1D;
    --dark_purple: #6320EE;
    --purple: #8075FF;
    --light_purple: #F8F0FB;
    --green: #CAD5CA;
    --white: #FFFFFF;
}
*{box-sizing: border-box; margin:0; background-repeat: no-repeat;}
body{
    overflow-x:hidden;
}

header{
    width:100vw;
    height:100vh;
    background-image:url("../img/img_arriere_plan/chapitre2-4/background-chapitre2-4.png");
    background-size:cover;
    background-position: center;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    padding: 0;
    padding-top:2vh;
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.title{
    color:var(--white);
    font-size:5vh;
    text-align: center;
    font-family: "Press Start 2P";
    display:inline-block;
    position:absolute;
}
.description{
    text-align: center;
    color: var(--white);
    font-size:11px;
    font-family:"Roboto";
    position:absolute;
    bottom:0;
    left:1%;
}

.callAction{
    width:4vw;
    height:15vh;
    border:var(--white) solid 2px;
    border-radius:50px;
    align-self:flex-end;
    margin-bottom:5vh;
}

.circle{
    width:20%;
    aspect-ratio: 1/1;
    background-color: var(--white);
    border-radius: 100px;
    margin: 0 auto;
}

section{
    width:100vw;
    height:100vh;
    background-size:cover;
    background-position: center;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    position:relative;
}

#chapitre2{
    background-image: url("../img/img_arriere_plan/chapitre2-4/background-chapitre2-4.png");
}
#chapitre3{
    background-image: url("../img/img_arriere_plan/chapitre2-4/background-chapitre2-4.png");
}
#chapitre4{
    background-image: url("../img/img_arriere_plan/chapitre2-4/background-chapitre2-4.png");
}
#chapitre5{
    background-image: url("../img/img_arriere_plan/chapitre5/background-chapitre5.png");
}
#chapitre6{
    background-image: url("../img/img_arriere_plan/chapitre6/background-chapitre6.png");
}
#chapitre7{
    background-image: url("../img/img_arriere_plan/chapitre7/background-chapitre7.png");
}

/*
///////////////////////////////////////////////////////////
Chapitre 2
///////////////////////////////////////////////////////////
*/

#route1{
    position:absolute;
    bottom:0;
    z-index:3;
}

.building{
    position: absolute;
    z-index: 1;
}
.building.buidlingBackRow{
    position: relative;
    z-index: -1;
}