/*
///////////////////////////////////////////////////////////
Général
///////////////////////////////////////////////////////////
*/

:root{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;

    --black: #211A1D;
    --dark_purple: #6320EE;
    --purple: #8075FF;
    --light_purple: #F8F0FB;
    --green: #CAD5CA;
    --white: #FFFFFF;
}
*{box-sizing: border-box; margin:0; background-repeat: no-repeat;}
body{
    overflow-x:hidden;
}

header{
    width:100vw;
    height:100vh;
    background-image:url("../img/img_arriere_plan/header/header_bg.png");
    background-size:cover;
    background-position: center;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    padding: 0;
    padding-top:2vh;
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.title{
    color:var(--white);
    font-size:5vh;
    text-align: center;
    font-family: "Press Start 2P";
    display:inline-block;
    position:absolute;
}
.description{
    text-align: center;
    color: var(--white);
    font-size:11px;
    font-family:"Roboto";
    position:absolute;
    bottom:0;
    left:1%;
}

.callAction{
    width:4vw;
    height:15vh;
    border:var(--white) solid 2px;
    border-radius:50px;
    align-self:flex-end;
    margin-bottom:5vh;
}

.circle{
    width:20%;
    aspect-ratio: 1/1;
    background-color: var(--white);
    border-radius: 100px;
    margin: 0 auto;
}

section{
    width:100vw;
    height:100vh;
    background-size:cover;
    background-position: center;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    position:relative;
}

#chapitre1{
    background-color: var(--dark_purple);
    background-image:url("../img/img_arriere_plan/chapitre1/background_chapitre1.png");
    
}

#chapitre2{
    background-image: url("../img/img_arriere_plan/chapitre2-4/background-chapitre2-4.png");
}
#chapitre3{
    background-image: url("../img/img_arriere_plan/chapitre2-4/background-chapitre2-4.png");
}
#chapitre4{
    background-image: url("../img/img_arriere_plan/chapitre2-4/background-chapitre2-4.png");
}
#chapitre5{
    background-image: url("../img/img_arriere_plan/chapitre5/background-chapitre5.png");
}
#chapitre6{
    background-image: url("../img/img_arriere_plan/chapitre6/background-chapitre6.png");
}
#chapitre7{
    background-image: url("../img/img_arriere_plan/chapitre7/background-chapitre7.png");
}

.text{
    font-family:'Roboto';
    font-size:1vw;
    color:white;
    position:absolute;
}

.textbox{
    width:40vw;
    height:15vh;
    background-color:var(--black);
    position:absolute;
    border-radius: 10px;
    padding:5px;
    border:1px solid var(--white);
}


/*
///////////////////////////////////////////////////////////
Chapitre 1
///////////////////////////////////////////////////////////
*/

/*

#lit{
    width:20vw;
    aspect-ratio: 573/95;
    position:absolute;
    bottom:1vh;
    left:5vw;
}

.cadre{
    width:10vw;
    position:absolute;
}
.cadreVar1{
    aspect-ratio:146/207;
}
.cadreVar2{
    aspect-ratio:195/320;
}

#cadre1{
    top:35vh;
    left:60vw;
}
#cadre2{
    top:32vh;
    left:10vw;
}

*/

.salle{
    width:180vw;
    aspect-ratio: 2044/420;
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
}

.corridor{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    aspect-ratio: 2044/420;
    z-index: 1;
    image-rendering: pixelated;
}

.porte{
    z-index:2;
    position:absolute;
    height: 100%;
    right:0;
    image-rendering: pixelated;
}

.chapitre1Text{
    right:0;
    top:5vh;
    z-index: 2;
}

/*
///////////////////////////////////////////////////////////
Chapitre 2
///////////////////////////////////////////////////////////
*/

#route1{
    position:absolute;
    bottom:0;
    z-index:3;
    width:100%;
    aspect-ratio: 960/17;
}
.building{
    position: absolute;
    z-index: 2;
    bottom:0;
    width:8vw;
}

.building.buildingBackRow{
    z-index: 1;
}
.buildingVar1{
    aspect-ratio: 157/387;
}
.buildingVar2{
    aspect-ratio: 157/450;
}
.buildingVar3{
    aspect-ratio: 157/468;
}
.buildingBackRowVar1{
    aspect-ratio: 172/591;
}
.buildingBackRowVar2{
    aspect-ratio: 172/522;
}
.buildingBackRowVar3{
    aspect-ratio: 172/639;
}

.building_construction{
    width:10vw;
    aspect-ratio: 320/862.38;
    position:absolute;
    bottom:0;
    text-align: center;
}

.couche1{
    width:100%;
    aspect-ratio: 80/17;
}
.couche2{
    width:100%;
    aspect-ratio: 320/86.83;
}
.couche3{
    width:91.5%;
    aspect-ratio: 293/223;
}
.couche4{
    width:91.5%;
    aspect-ratio: 293/86.83;
}
.couche5{
    width:83.75%;
    aspect-ratio: 268/223;
}
.couche6{
    width:83.75%;
    aspect-ratio: 268/86.83;
}
.couche7{
    width:77.5%;
    aspect-ratio: 248/223;
}
.couche8{
    width:77.5%;
    aspect-ratio: 248/86.83;
}
.couche9{
    width:76.15%;
    aspect-ratio:230/221.38;
}

.chapitre2Text{
    right:0;
    top:5vh;
}


/*
///////////////////////////////////////////////
Chapitre 3
///////////////////////////////////////////////
*/

#route2{
    position:absolute;
    width:100%;
    bottom:0;
    aspect-ratio:1920/61;
    z-index:3;
}

.arbre{
    position:absolute;
    z-index:2;
    width:9vw;
    bottom:1vw;
    left:-10vw;
}
.arbre.arbreBackRow{
    z-index: 1;
}

.arbreVar1{
    aspect-ratio:193/390;
}
.arbreVar2{
    aspect-ratio: 193/566;
}
.arbreVar3{
    aspect-ratio: 245/335;
}
.arbreBackRowVar1{
    aspect-ratio: 232/433;
}
.arbreBackRowVar2{
    aspect-ratio: 169/373;
}
.arbreBackRowVar3{
    aspect-ratio: 274/399;
}

.auto{
    position:absolute;
    z-index:4;
    bottom:2.5vw;
    width:12vw;
    right:-15vw;
    image-rendering: pixelated;
}

.autoVar1{
    aspect-ratio: 43/16;
}
.autoVar2{
    aspect-ratio: 42/17;
}
.autoVar3{
    aspect-ratio: 21/10;
}

.chapitre3Text{
    right:0;
    top:5vh;
}

/*
/////////////////////////////////////////////////////
Chapitre 4
/////////////////////////////////////////////////////
*/

#route3{
    position:absolute;
    width:49.11%;
    bottom:0;
    aspect-ratio:943/61;
    z-index:3;
}

#rebords_trou{
    position:absolute;
    width:50.89%;
    bottom:0;
    right:0;
    aspect-ratio: 971/25;
    z-index:1;
}

.pont{
    position:absolute;
    width:50.89%;
    bottom:0;
    right:0;
    aspect-ratio: 983/161;
}
#pont_avant{
    position: absolute;
    width:100%;
    z-index:3;
    bottom:0;
}
#pont_arriere{
    position:absolute;
    width: 100%;
    z-index:5;
    bottom:1.1vw;
}
#pont_shading{
    position:absolute;
    width: 100%;
    bottom:0vh;
    z-index:2;
}

.vent{
    width:30vw;
    aspect-ratio:1095.33/252.51;
    position:absolute;
    top:40vh;
    left:40vw;
}

.chapitre4Text{
    left:0;
    top:5vh;
}

/*
/////////////////////////////////////////////////
Chapitre 5
/////////////////////////////////////////////////
*/

.poisson{
    position:absolute;
    width:7vw;
    aspect-ratio:235.72/120.4;
}

#poisson1{
    left:60%;
    top:20%;
}

#poisson2{
    left:40%;
    top:40%;
}

.chapitre5Text{
    left:0;
    top:5vh;
}

/*
/////////////////////////////////////////////////
Chapitre 6
/////////////////////////////////////////////////
*/

#soleil{
    width:20vw;
    aspect-ratio: 1/1;
    position:absolute;
    top:5vw;
    left:70vw;
}

.nuage{
    width:15vw;
    position:absolute;
    aspect-ratio:1/1;
    image-rendering: pixelated;
}

#nuage1{
    top:10vh;
    left:20vw;
}

#nuage2{
    top:5vh;
    left:65vw;
}

#nuage3{
    top:20vh;
    left:80vw;
}

#nuage4{
    top:60vh;
    left:50vw;
}

#nuage5{
    top:75vh;
    left:68vw;
}

#nuage6{
    top:55vh;
    left:20vw;
}

#nuage7{
    top:39vh;
    left:39vw;
}

.chapitre6Text{
    left:0;
    top:5vh;
}

/*
///////////////////////////////////////////////////////
Chapitre 7
///////////////////////////////////////////////////////
*/

.chapitre7Text{
    right:0;
    top:5vh;
}

#nuage8{
    top:30vh;
    left:50vw;
}

#nuage9{
    top:10vh;
    left:10vw;
}

/*
////////////////////////////////////////////////////
Test
////////////////////////////////////////////////////
*/

.spritesheet_testBody{
    height:150vh;
}

.spritesheet_test{
    position:relative;
    display:inline-block;
    background-image: url("../img/img_personnages/character_walk.png");
    width:20vw;
    aspect-ratio: 1/1;
    background-size:120vw 100%;
    animation:walk 1s infinite;
    animation-timing-function: steps(6);
    animation-play-state: paused;
    z-index: 3;
}

.spritesheet_test2{
    position:relative;
    display:inline-block;
    background-image: url("../img/img_personnages/character_fall.png");
    width:20vw;
    aspect-ratio: 1/1;
    background-size:120vw 100%;
    animation:fall 0.5s infinite;
    animation-timing-function: steps(6);
    animation-play-state: paused;
}

.is-scrolling .spritesheet_test{
    animation-play-state: running;
}

.is-scrolling .spritesheet_test2{
    animation-play-state: running;
}

@keyframes walk{
    from {background-position: 0 0;}
    to{background-position: -120vw 0;}
}

@keyframes fall{
    from {background-position: 0 0;}
    to{background-position: -120vw 0;}
}
